* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/city.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 28%, 15%);
}
.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7),
        -5px -5px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 350px;
    padding: 1em 3em;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 10px;
}
h1 {
    font-size: 50px;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
}
.result {
    font-size: 10em;
    text-shadow: 1px 1px #000;
}
.cta {
    display: block;
    margin: 1em auto;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 3px 3px 5px #000;
    cursor: pointer;
    background-color: rgba(19, 20, 113, 0.7);
    color: #fff;
    text-shadow: 1px 1px #000;
    transition: 0.18s all;
}
.cta:active {
    transform: translateY(2px);
    background-color: rgba(19, 20, 113, 0.15);
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.7),
        -3px -3px 5px rgba(255, 255, 255, 0.1);
}

@media (max-width: 760px) {
    .card {
        width: 300px;
        text-align: center;
        padding: 1em 1.5em;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7),
            -5px -5px 10px rgba(255, 255, 255, 0.1);
    }
}
@media (max-width: 400px) {
    .card {
        width: 250px;
        text-align: center;
        padding: 1em 1.5em;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7),
            -5px -5px 10px rgba(255, 255, 255, 0.1);
    }
    .cta {
        padding: 0.5em 1em;
        font-size: 18px;
        background-color: transparent;
        color: #131471;
        border: none;
        outline: none;
        box-shadow: 3px 3px 5px #000;
        cursor: pointer;
        border-radius: 10px;
        text-transform: uppercase;
        margin-bottom: 1em;
        display: block;
        margin: 1em auto;
        text-shadow: 1px 1px #000;
    }
}
